@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;

700&display=swap");
@font-face {
  font-family: "icons";
  display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  display: block;
}

._icon-Linkedin:before {
  content: "\e900";
}

._icon-Group:before {
  content: "\e901";
}

._icon-insta:before {
  content: "\e902";
}

._icon-fb:before {
  content: "\e903";
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

::-webkit-scrollbar {
  /* chrome based */
  width: 0px;
  /* ширина scrollbar'a */
  background: transparent;
  /* опционально */
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Caveat', cursive;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../img/bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.todo {
  width: calc(100vw - 30px);
  max-width: 856px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 15px 20px 15px;
}

.todo__title {
  color: #3fa0f0e0;
  font-size: 100px;
  font-weight: 700;
  text-shadow: 4px 3px 5px #008ed8;
}

.addtask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 20px 0;
  padding: 0px 10px;
}

.addtask__input {
  width: 100%;
  max-width: 450px;
  min-width: 225px;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(0, 142, 216, 0.9);
  padding: 0 10px;
  color: #fff;
  font-size: 16px;
}

.addtask__input::-webkit-input-placeholder {
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.addtask__input::-moz-placeholder {
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.addtask__input:-ms-input-placeholder {
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.addtask__input::-ms-input-placeholder {
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.addtask__input::placeholder {
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.addtask__add-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 50px;
  background-color: rgba(0, 142, 216, 0.9);
  color: #fff;
  margin: 0px 0px 0px 15px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.addtask__add-btn:hover {
  color: #008ed8;
  background-color: #fff;
}

.todo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 30%;
  overflow: auto;
}

.todo-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 10px;
  margin: 10px 0;
  border: 2px solid #008ed8;
  border-radius: 20px;
}

.todo-list__check {
  border-radius: 5px;
  background-color: #008ed8;
  -webkit-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  width: 25px;
  height: 25px;
}

.todo-list__check.completed {
  background: url(../img/19301342491536572528.svg) 3px 2px no-repeat;
  background-size: 20px 20px;
  background-color: #03be86;
}

.todo-list__text {
  width: 350px;
  min-width: 350px;
  word-wrap: break-word;
  padding: 0px 5px 0px 5px;
  margin: 0px 5px 0px 5px;
  font-size: 20px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.todo-list__btn-delete {
  border-radius: 5px;
  background-color: #3fa0f0e0;
  -webkit-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  width: 25px;
  height: 25px;
  background-image: url(../img/trash.svg);
  background-repeat: no-repeat;
  background-size: 25px 25px;
}

.todo-list__btn-delete:hover {
  background-color: red;
}

.todo-list .delete {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(8rem) rotateZ(20deg);
      -ms-transform: translateY(8rem) rotate(20deg);
          transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

@media (max-width: 768px) {
  .todo__title {
    font-size: 60px;
  }
}

@media (max-width: 430px) {
  .todo-list__check {
    width: 20px;
    height: 20px;
  }

  .todo-list__check.completed {
    background-size: 15px 15px;
  }

  .todo-list__text {
    font-size: 16px;
    min-width: 230px;
    max-width: 230px;
  }

  .todo-list__btn-delete {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
}

@media (max-width: 424px) {
  .todo__title {
    font-size: 43px;
  }

  .addtask__input::-webkit-input-placeholder {
    font-size: 16px;
  }

  .addtask__input::-moz-placeholder {
    font-size: 16px;
  }

  .addtask__input:-ms-input-placeholder {
    font-size: 16px;
  }

  .addtask__input::-ms-input-placeholder {
    font-size: 16px;
  }

  .addtask__input::placeholder {
    font-size: 16px;
  }

  .addtask__input {
    min-width: 200px;
    height: 40px;
  }

  .addtask__add-btn {
    min-height: 40px;
    height: 40px;
    min-width: 40px;
    font-size: 33px;
  }
}